@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.justify-end {
    justify-content: flex-end;
}
.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 65rem;
  }

.title {
    font-size: 5rem;
    text-align: center;
    margin: 20rem 0 20rem 0;
}
.sub-title {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    background-color: rgb(248, 171, 57);
}
h3 {
    text-align: center;
    padding: 15px;
  
}
.box {
    max-width: 30rem;
    padding: 30px;
    background-color: bisque;
}

img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#description {
    background-color: rgb(248, 171, 57);
    padding: 25px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
p {
    text-indent: 30px;
    text-align: justify;
    letter-spacing: 1px;
}

nav {
    padding: 1.5rem;
    background-color: black;

}